.nameTitle {
  font-size: 2.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(190, 176, 130);
  margin: 10px auto;
  padding: 10px;
  color: rgb(30, 90, 30);
  width: 15ch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nameTitle:hover {
  font-size: 2.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(190, 176, 130);
  margin: 10px auto;
  padding: 10px;
  color: rgb(30, 90, 30);
  width: auto;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}
